<!DOCTYPE html>
<html>
<head>
<title>Uchi-San Configuration</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="jquery-ui/jquery-ui.min.css">
<link rel="stylesheet" href="css/style.css">
<script src="jquery/jquery.min.js"></script>
<script src="jquery-ui/jquery-ui.min.js"></script>
<script src="jquery/jquery.form.min.js"></script>
<script src="paho/mqttws31-min.js"></script>
<script src="js/configure.js"></script>
<script>
$(document).ready(function() {
	setupConfigurePage("<TMPL_VAR name=mqttWebsocketHost>", <TMPL_VAR name=mqttWebsocketPort>);
});
</script>
</head>
<body>
	<tmpl_include name="templates/menu.html">
	<div id="newFlowDialog" title="Create Flow">
		<form id=newFlowForm>
			<label for="flowName">Name</label>: <input type="text" name="flowName" id="flowName"><br> <input type="submit" value="Create">
		</form>
	</div>
	<div id="devices">
		<ul>
			<li>Switch</li>
			<li>On/Off</li>
			<li>Timer</li>
			<li>Scheduler</li>
		</ul>
	</div>
	<div id="flows">
		<ul id="flowlist">
			<li id='zzzzzzz'><a href="#createFlow" id="createNewFlow">+</a></li>
		</ul>
	</div>
	<div id="switchSVG" />
	<div id="onOffSVG" />
	<div id="TimerSVG" />
	<div id="SchedulerSVG" />
</body>
</html>
